<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Detail</title>
</head>
<body>

      <div class="detail-container">
        
        <div class="detail-content">
          <p><%=message.text %></p>
          <p><%= message.username %></p>
          <p><%=message.added %></p>
          <button> <a href="/">back</a></button>
        </div>
      </div>
</body>
</html>