<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>

    <div  class="form-container">

      <form  method="post"  action="/new">

       <label for="author-name">Author:</label>
        <input type="text" id="author-name"  name="name">
        <label for="message">Message:</label>
        <textarea  id="message"  name="message"></textarea>
        <button>Submit</button>
        
      </form>

    </div>
      

</body>
</html>